/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #373a3b;
  color: #ffcc00;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  margin: 40px 150px 0px 150px;
  font-weight: bold;
}

/* Nav logo */
.nav .logo {
  margin-right: auto;
}

.nav .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav .logo a img {
  height: 60px;
}

.nav .logo a span {
  font-size: 24px;
}

/* Nav links */
.nav .links ul {
  display: flex;
}

.nav .links ul li {
  margin-left: 100px;
}

.nav ul li {
  font-size: 18px;
}

/* Home content */
.home-content-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-container .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}

/* Home content text */
.home-content .text h1 {
  font-size: 80px;
}

.home-content .text p {
  font-size: 45px;
  font-weight: bold;
}

/* Home content button */
.home-content .button {
  width: 300px;
  border: #ffcc00 solid 2px;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 0px;
  border-radius: 12px;
}

/* About content */
.about-content-container {
  margin: 0 150px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-container .about-content {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* Left */
.about-content .left {
  flex-shrink: 0;
}

/* About content text */
.about-content .left .text h1 {
  font-size: 80px;
  margin-bottom: 15px;
}

.about-content .left .text p {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 60px;
}

/* About content button */
.about-content .left .button {
  width: 300px;
  border: #ffcc00 solid 2px;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 0px;
  border-radius: 12px;
  text-align: center;
}

/* Right */
.about-content .right {
  flex-shrink: 1;
}
/* About content paragraphs */
.about-content .right .paragraphs p {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 32px;
}
